.kaufman__triangle{
  display: flex;
  position: absolute;
  background-image: url('../../../images/sections/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
  background-repeat: no-repeat;
  right: -210px;
}